@model Priori.francesco._5h.ECommerce.Models.Utenti
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Home" asp-action="Reg" method="post">
    Nome:
    <input type="text" asp-for="Nome" name="Nome"><br>
    Cognome:
    <input type="text" asp-for="Cognome" name="Cognome"><br>
    <label asp-for="Genre">Gender:</label>
    <select id="genders">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Unidentified">Unidentified</option>
    </select><br>
    Username:
    <input type="text" asp-for="Username" name="Username"><br>
    Password:
    <input type="password" asp-for="Password" name="Password"><br>
    <input type="submit" name="Login">
    <input type="reset" name="Annulla">
    <a asp-controller="Home" asp-action="Login">Se sei registrato clicca qui</a>
</form>
